@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  font-family: sans-serif;
  color: #0c162c;
}

h1 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #0c162c;
}

h2,
h3 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* color: #d6d8db; */

}

hr {
  border-top: 1px solid #fff;
  margin-top: 2px;
  width: 90%;
}


/* .....................................................TEMP:All P data should be removed at the end !!!*/
.grid-wrap p {
  color: darkmagenta;
  font-style: italic;
  text-align: end;
  padding-inline-end: 10px;
}





/*---------------------------Grid Structure----------------------------*/
.grid-wrap {
  margin: 10px;
  border: gray 1px solid;

  display: grid;
  gap: 10px;


  grid-template-areas:
    "header"
    "social"
    "timer"
    "record"
    "quiz"
    "score"
    "setup"
    "footer";
}



.header {
  grid-area: header;

  margin: 10px;
  border: darkmagenta 1px solid;
  background-color: darkgray;



}

.social {
  grid-area: social;

  margin: 10px;
  border: darkmagenta 1px solid;
  align-items: center;
  background-color: darkgray;

}

.social li {
  display: inline-block;
  padding: 10px;
}

.social i {
  color: #0c162c;
  font-size: 120%;
}

/*---------------------------Content-----------------------------------*/

.quiz {
  margin: 10px;
  padding: 30px;
  border: darkmagenta 1px solid;
  height: auto;

  grid-area: quiz;
  background-color: rgb(207, 205, 205);

  display: block;

  /* background: url("../images/background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; */
}


.infoBox li {
  margin-top: 20px;
    padding: 10px;
  display: inline;
  font-weight: bold;

}

.data {
  accent-color: #0c162c;
  padding: 30px;
  display: none;
}


.hide {
   opacity: 0;
   margin-top: 20px;

}


input[type="checkbox"]:disabled:checked.answers {
  /* pointer-events: none; */
  outline:#98c004 solid 2px;

  width: 20px;
  height: 20px;
}

input[type="checkbox"]:disabled.answers {
  /* pointer-events: none; */
  /* outline:#98c004 solid 2px; */
  outline: red solid 2px;
  width: 20px;
  height: 20px;
}


input[type="checkbox"].options {
  /* pointer-events: none; */
  width: 22px;
  height: 22px;
}



.process input {
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  height: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 20em;
  font-size: 75%;
  margin: 5px;
  background-color: #98c004;
  color: #fafafa;

}

.process{
  border: #0c162c solid 1px;
  margin-top: 20px;
}




.setup {
  margin: 10px;
  border: darkmagenta 1px solid;
  height: auto;

  grid-area: setup;
  display: inline-block;
  padding: 5px;
  font-size: medium;

}

.num-input {
  border: black solid 1px;
  width: 40px;
  margin: 2px;
  padding: 2px;
  font-size: medium;


}

.timer {
  margin: 10px;
  border: rgb(14, 11, 14) 1px solid;
  height: auto;
  font-size: small;
  grid-area: timer;
  text-align: center;
  
}

.timer button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  height: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #0c162c;
  color: #fafafa;
  width: 10em;
  font-size: 75%;
}

.timer span {
  background-color: #98c004;
  font-weight: bold;
  font-size: xx-large;
  display: inline-block;
  padding: 2px;
}

#clock {
  background-color: #0c162c;
  color: #fafafa;
  text-align: center;
  font-size: small;
}

#button-stop {
  display: none;
  color: yellow;

}

#button-reset {
  display: none;
  color: orangered;
}

.record {
  margin: 10px;
  border: darkmagenta 1px solid;
  height: auto;

  grid-area: record;
  font-size: 60%;
  text-transform: uppercase;
}

.score {
  margin: 10px;
  border: darkmagenta 1px solid;
  height: auto;

  grid-area: score;
}

/*---------------------------Footer------------==================-----*/

footer {
  margin: 10px;
  border: gray 1px solid;
  height: auto;
  background-color: beige;
  font-size: small;
}


/*--------------------------GRid Responsivity--------------------------*/

@media (min-width: 500px) {

  .grid-wrap {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header social"
      "quiz setup"
      "quiz record"
      "quiz timer"
      "quiz score"
      "footer footer";
  }
}




/* ///////////////////////////////////////////////////////////////////////*/

#progress-bar {
  width: 100%;
  margin: 10px auto;
  height: 22px;
  background-color: rgb(207, 205, 205);
  border-bottom: #0c162c solid 2px;

}

#progress-bar div {
  height: 90%;
  text-align: right;
  padding: 0 1px;
  line-height: 22px;
  background-color: #98c004;
  box-sizing: border-box;

}